<footer class="bg-f">
    <div class="container">
        <div class="row">

            <div class="col-md-4 mt-5">
                <div>
                    <h5 class="text-white r-t">RECONECT</h5>
                </div>
                <div>
                    <p class="text-white text-justify">
                        <small>
                        Fundada em Recife-PE, no ano de 2021, a Reconect surgiu frente a necessidade de se solucionar o problema da exclusão digital, visto que tal problemática compromete o livre exercício da cidadania em uma sociedade hiperconectada como a que vivemos.
                        <br>
                        Atuamos em parceria com empresas, centros comunitários, escolas públicas e bibliotecas, que buscam empoderar digitalmente jovens e adultos, conectando, colaborando e transformando vidas.
                        </small>
                    </p>
                </div>
            </div>
            
            <div class="col-md-4 mt-5 d-flex justify-content-center">
                <ul class="list-unstyled">
                    <li><h5 class="text-white r-t">Institucional</h5></li>
                    <li><small><a class="text-white" href="#quemSomos">Quem somos</a></small></li>
                    <li><small><a href="https://brasil.un.org/pt-br/sdgs/10" target = "_blank" class="text-white">ODS-10</a></small></li>
                    <li><small><a class="text-white" routerLink='/contato'>Quero ser um parceiro</a></small></li>
                    <li><small><a class="text-white" routerLink='/inicio'>Equipe</a></small></li>
                    <li><h5 class="text-white r-t mt-4" routerLink='/contato'>Suporte</h5></li>
                    <li><small><a class="text-white" routerLink='/contato'>Contato</a></small></li>
                    <li><small><a routerLink='/contato'  class="text-white">Doação e/ou descarte de equipamentos</a></small></li>
                    <li><small><a class="text-white" routerLink='/contato'>Denúncias e/ou Reclamações</a></small></li>
                    <li><small><a class="text-white" routerLink='/contato'>Solicitação de tema </a></small></li>
                    <li><small><a class="text-white" routerLink='/contato'>Ajuda</a></small></li>
                </ul>
                
            </div>

            <div class="col-md-4 mt-5">
                <div>
                    <h5 class="text-white text-center r-t">Fique por dentro da reconect</h5>
                </div>
                <form>
                    <div class="form-group">
                        <label for="exampleFormControlInput1" class="text-white"><small>Nome</small></label>
                        <input type="name" class="form-control" id="exampleFormControlInput1">
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlInput2" class="text-white"><small>Email</small></label>
                        <input type="email" class="form-control" id="exampleFormControlInput2">
                    </div>
                    <div class="form-group text-white text-justify">
                        <label for=""><small>Ao informar meus dados, eu concordo com a <a data-toggle="modal" data-target="#termosDeUso" class='linkModal'>Política de Privacidade.</a></small></label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                        <label class="form-check-label text-justify text-white" for="defaultCheck1"><small>Eu concordo em receber comunicações.</small>
                        </label>
                    </div>
                    <div class=" d-flex justify-content-end">
                        <button type="submit" class="btn btn-outline-light btn-lg btn-block mt-3">Enviar</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
    
    <div class="text-center py-3">
        <hr>
        <span class="text-light">&copy;Todos os direitos reservados - 2022</span>
    </div>
</footer>

<div class="modal fade" id="termosDeUso" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="staticBackdropLabel">Termos de uso</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body text-justify">
            <h2>Política Privacidade</h2>
            <p>A sua privacidade é importante para nós. É política do RECONECT respeitar a sua privacidade em relação a qualquer informação sua que possamos coletar no site <a href="https://reconect.netlify.app/#/inicio">RECONECT</a>, e outros sites que possuímos e operamos.</p> <p>Solicitamos informações pessoais apenas quando realmente precisamos delas para lhe fornecer um serviço. Fazemo-lo por meios justos e legais, com o seu conhecimento e consentimento. Também informamos por que estamos coletando e como será usado. </p>
            <p>Apenas retemos as informações coletadas pelo tempo necessário para fornecer o serviço solicitado. Quando armazenamos dados, protegemos dentro de meios comercialmente aceitáveis ​​para evitar perdas e roubos, bem como acesso, divulgação, cópia, uso ou modificação não autorizados.</p>
            <p>Não compartilhamos informações de identificação pessoal publicamente ou com terceiros, exceto quando exigido por lei.</p>
            <p>O nosso site pode ter links para sites externos que não são operados por nós. Esteja ciente de que não temos controle sobre o conteúdo e práticas desses sites e não podemos aceitar responsabilidade por suas respectivas <a href='https://politicaprivacidade.com' target='_BLANK'>políticas de privacidade</a>. </p> <p>Você é livre para recusar a nossa solicitação de informações pessoais, entendendo que talvez não possamos fornecer alguns dos serviços desejados.</p>
            <p>O uso continuado de nosso site será considerado como aceitação de nossas práticas em torno de privacidade e informações pessoais. Se você tiver alguma dúvida sobre como lidamos com dados do usuário e informações pessoais, entre em contacto connosco.</p>
            <h3>Compromisso do Usuário</h3>
            <p>O usuário se compromete a fazer uso adequado dos conteúdos e da informação que o RECONECT oferece no site e com caráter enunciativo, mas não limitativo:</p> <ul> <li>A) Não se envolver em atividades que sejam ilegais ou contrárias à boa fé a à ordem pública;</li> <li>B) Não difundir propaganda ou conteúdo de natureza racista, xenofóbica, <a style='color: inherit !important; text-decoration:none !important;' href='https://jogoshoje.io'>jogos de hoje</a> ou azar, qualquer tipo de pornografia ilegal, de apologia ao terrorismo ou contra os direitos humanos;</li> <li>C) Não causar danos aos sistemas físicos (hardwares) e lógicos (softwares) do RECONECT, de seus fornecedores ou terceiros, para introduzir ou disseminar vírus informáticos ou quaisquer outros sistemas de hardware ou software que sejam capazes de causar danos anteriormente mencionados.</li> </ul> <h3>Mais informações</h3>
            <p>Esperemos que esteja esclarecido e, como mencionado anteriormente, se houver algo que você não tem certeza se precisa ou não, geralmente é mais seguro deixar os cookies ativados, caso interaja com um dos recursos que você usa em nosso site.</p> <p>Esta política é efetiva a partir de <strong>Janeiro</strong>/<strong>2022</strong>.</p>
        </div>

        </div>
    </div>
</div>