<footer class="bg-f">
    <div class="container">
        <div class="row">

            <div class="col-md-4 mt-4">
                <div>
                    <h5 class="text-white r-t">RECONECT</h5>
                </div>
                <div>
                    <p class="text-white">
                        <small>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Id esse ex temporibus placeat quae. Odit beatae quas, fugit fuga consequuntur praesentium ab voluptate et. Pariatur expedita iure quos nihil vero.
                        <br>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit beatae quia, nisi vero praesentium eos sequi qui in velit enim vitae eum facilis. Magnam consectetur inventore accusamus rerum aspernatur mollitia.</small>
                    </p>
                </div>
            </div>
            
            <div class="col-md-4 mt-4 d-flex justify-content-center">
                <ul class="list-unstyled">
                    <li><h5 class="text-white r-t">Institucional</h5></li>
                    <li><small><a href="" class="text-white">Sobre</a></small></li>
                    <li><small><a href="" class="text-white">ODS-10</a></small></li>
                    <li><small><a href="" class="text-white">Quero ser um parceiro</a></small></li>
                    <li><small><a href=""  class="text-white">Equipe</a></small></li>
                    <li><h5 class="text-white r-t mt-4">Suporte</h5></li>
                    <li><small><a href="" class="text-white">Contato</a></small></li>
                    <li><small><a href="" class="text-white">Doação ou descarte de equipamentos</a></small></li>
                    <li><small><a href=""  class="text-white">Reclamações e/ou Sugestões</a></small></li>
                    <li><small><a href="" class="text-white">Ajuda</a></small></li>
                </ul>
                
            </div>

            <div class="col-md-4 mt-4">
                <div>
                    <h5 class="text-white text-center r-t">Assine nossa Newsletter</h5>
                </div>
                <form>
                    <div class="form-group">
                        <label for="exampleFormControlInput1" class="text-white"><small>Nome</small></label>
                        <input type="name" class="form-control" id="exampleFormControlInput1">
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlInput2" class="text-white"><small>Email</small></label>
                        <input type="email" class="form-control" id="exampleFormControlInput2">
                    </div>
                    <div class=" d-flex justify-content-end">
                        <button type="button" class="btn btn-outline-light btn-lg btn-block mt-3">Enviar</button>
                    </div>
                    </form>
            </div>

        </div>
    </div>
    
    <div class="text-center py-3">
        <hr>
        <span class="text-light">&copy;Todos os direitos reservados - 2022</span>
    </div>
</footer>