
<div class="container-fluid">

    <div class="row">

        <div class="col-md-12 mt-5 mb-5">

            <div class="row d-flex justify-content-center">

                <div class="col-md-5">
    
                    <h1 class="text-center  font-t mb-5">Formulário de
                        <span>contato</span>
                    </h1>
    
                    <form>
                        <div class="form-group">
                            <label for="nome">Nome</label>
                            <input  class="form-control" type="text" name="nome" id="nome" placeholder="Seu nome">
                        </div>
                        <div class="form-group">
                            <label for="email">E-mail</label>
                            <input class="form-control" type="text"  name="usuario" id="usuario" placeholder="Seu melhor e-mail">
                        </div>
                        <div class="form-group">
                            <label for="tipo">Selecione a opção desejada</label>
                            <select class="form-control" nome="tipo" id="tipo">
                                <option>Escolha uma opção</option>
                                <option>1. Solicitação de conta ADM</option>
                                <option>2. Quero ser um parceiro</option>
                                <option>3. Doação e/ou Descarte de equipamentos</option>
                                <option>4. Alteração de senha</option>
                                <option>5. Denúncias e/ou Reclamações</option>
                                <option>6. Solicitação de tema</option>
                                <option>7. Ajuda</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="texto">Mensagem</label>
                            <textarea class="form-control" nome="texto" id="texto" rows="4" placeholder="Escreva sua mensagem"></textarea>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                            <label class="form-check-label text-justify" for="defaultCheck1">
                            Ao utilizar nosso formulário você está ciente e de acordo com nossa
                            <a data-toggle="modal" data-target="#termosDeUso" class='linkModal'>Política de Privacidade</a> 
                            </label>
                        </div>
                        <div class="d-flex justify-content-center">
                            <button type="submit" class="btn btn-danger btn-lg botao ml-5 mr-5" routerLink="/inicio">Cancelar
                            </button>
                            <button type="submit" class="btn btn-success btn-lg botao">Enviar</button>
                        </div>
                    </form>

                </div>

            </div>

        </div>
    
    </div>
            
</div>

<div class="modal fade" id="termosDeUso" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="staticBackdropLabel">Termos de Uso</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body text-justify">
            <h2>Política Privacidade</h2>
            <p>A sua privacidade é importante para nós. É política do RECONECT respeitar a sua privacidade em relação a qualquer informação sua que possamos coletar no site <a href="https://reconect.netlify.app/#/inicio">RECONECT</a>, e outros sites que possuímos e operamos.</p> <p>Solicitamos informações pessoais apenas quando realmente precisamos delas para lhe fornecer um serviço. Fazemo-lo por meios justos e legais, com o seu conhecimento e consentimento. Também informamos por que estamos coletando e como será usado. </p>
            <p>Apenas retemos as informações coletadas pelo tempo necessário para fornecer o serviço solicitado. Quando armazenamos dados, protegemos dentro de meios comercialmente aceitáveis ​​para evitar perdas e roubos, bem como acesso, divulgação, cópia, uso ou modificação não autorizados.</p>
            <p>Não compartilhamos informações de identificação pessoal publicamente ou com terceiros, exceto quando exigido por lei.</p>
            <p>O nosso site pode ter links para sites externos que não são operados por nós. Esteja ciente de que não temos controle sobre o conteúdo e práticas desses sites e não podemos aceitar responsabilidade por suas respectivas <a href='https://politicaprivacidade.com' target='_BLANK'>políticas de privacidade</a>. </p> <p>Você é livre para recusar a nossa solicitação de informações pessoais, entendendo que talvez não possamos fornecer alguns dos serviços desejados.</p>
            <p>O uso continuado de nosso site será considerado como aceitação de nossas práticas em torno de privacidade e informações pessoais. Se você tiver alguma dúvida sobre como lidamos com dados do usuário e informações pessoais, entre em contacto connosco.</p>
            <h3>Compromisso do Usuário</h3>
            <p>O usuário se compromete a fazer uso adequado dos conteúdos e da informação que o RECONECT oferece no site e com caráter enunciativo, mas não limitativo:</p> <ul> <li>A) Não se envolver em atividades que sejam ilegais ou contrárias à boa fé a à ordem pública;</li> <li>B) Não difundir propaganda ou conteúdo de natureza racista, xenofóbica, <a style='color: inherit !important; text-decoration:none !important;' href='https://jogoshoje.io'>jogos de hoje</a> ou azar, qualquer tipo de pornografia ilegal, de apologia ao terrorismo ou contra os direitos humanos;</li> <li>C) Não causar danos aos sistemas físicos (hardwares) e lógicos (softwares) do RECONECT, de seus fornecedores ou terceiros, para introduzir ou disseminar vírus informáticos ou quaisquer outros sistemas de hardware ou software que sejam capazes de causar danos anteriormente mencionados.</li> </ul> <h3>Mais informações</h3>
            <p>Esperemos que esteja esclarecido e, como mencionado anteriormente, se houver algo que você não tem certeza se precisa ou não, geralmente é mais seguro deixar os cookies ativados, caso interaja com um dos recursos que você usa em nosso site.</p> <p>Esta política é efetiva a partir de <strong>Janeiro</strong>/<strong>2022</strong>.</p>
        </div>

        </div>
    </div>
</div>
