
<div class="container-fluid">

    <div class="row">

        <div class="col-md-12 mt-5 mb-5">

            <div class="row d-flex justify-content-center">

                <div class="col-md-5">
    
                    <h1 class="text-center mb-4 font-t">Formulário de
                        <span>Contato</span>
                    </h1>
    
                    <form>
                        <div class="form-group">
                            <label for="nome">Nome</label>
                            <input  class="form-control" type="text" name="nome" id="nome" placeholder="Seu nome">
                        </div>
                        <div class="form-group">
                            <label for="email">E-mail</label>
                            <input class="form-control" type="text"  name="usuario" id="usuario" placeholder="Seu melhor e-mail">
                        </div>
                        <div class="form-group">
                            <label for="tipo">Selecione a opção desejada</label>
                            <select class="form-control" nome="tipo" id="tipo">
                                <option>Escolha uma opção</option>
                                <option>1. Solicitação de conta ADM</option>
                                <option>2. Quero ser um parceiro</option>
                                <option>3. Doação e/ou Descarte de equipamentos</option>
                                <option>4. Alteração de senha</option>
                                <option>5. Denúncias e/ou Reclamações</option>
                                <option>6. Solicitação de tema</option>
                                <option>7. Ajuda</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="texto">Mensagem</label>
                            <textarea class="form-control" nome="texto" id="texto" rows="4" placeholder="Escreva sua mensagem"></textarea>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                            <label class="form-check-label text-justify" for="defaultCheck1">
                            Ao utilizar nosso formulário você está ciente e de acordo com nossa
                            <span>Política de Privacidade</span> 
                            </label>
                        </div>
                        <div class="d-flex justify-content-center">
                            <button type="submit" class="btn btn-danger btn-lg botao ml-5 mr-5" routerLink="/inicio">Cancelar
                            </button>
                            <button type="submit" class="btn btn-success btn-lg botao" >Enviar</button>
                        </div>
                    </form>

                </div>

            </div>

        </div>
    
    </div>
            
</div>
