@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');


ul li a {
    font-family: 'Poppins';
    font-weight: bolder;
    text-decoration: none;
}

.nav-bar {
    background-color: #061c39;
}

.nav-bar a {
    font-family: 'Poppins';
    text-decoration: none;
    font-weight: bolder;
}

.fs-18 {
    font-size: 18pt;
}

.fs-16 {
    font-size: 12pt;
}

a {
    cursor: pointer;
}
