<nav class="navbar navbar-expand-lg navbar-light bg-secondary">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto d-flex align-items-center">
            
            <li class="nav-item pl-3">
                <a class="m-0 font-weight-bold text-white fs-16" routerLink='/inicio'>REConecT</a>
            </li>            
        </ul>
        <ul class="navbar-nav ml-auto d-flex align-items-center">
            <li class="nav-item pl-3">
                <a class="btn-cadastrar fs-14" routerLink='/cadastro'>Cadastrar</a>
                <a class="btn-entrar m-5 fs-14" routerLink='/login'>Entrar</a>                
            </li>
        </ul>
    </div>
</nav>