<div class="container-fluid tela">
  <!-- Topo -->
  <div>
    <div class="row mb-5">
      <div></div>
    </div>
    <div class="row">
      <div class="col-md-12 d-flex justify-content-center flex-wrap">
        <img src="https://i.imgur.com/cZrfYjB.png" alt="Imagem de dois homens e uma mulher conversando." class="img-topo grow">
        <img src="https://i.imgur.com/otZdjHh.png" alt="Imagem de um home sentado numa cadeira e mechendo no celular na frente de uma mesa com 3 telas de computador." class="img-topo grow">
        <img src="https://i.imgur.com/SEDOwOd.png" alt="Imagem de uma mulher mexendo no notebook" class="img-topo grow">
      </div>
    </div>
    <div class="row mb-5">
      <div></div>
    </div>
  </div>
  <!-- Topo -->

  <!-- Jumbotron -->
  <div class="jumbotron jumbotron-fluid bg-jb" id="quemSomos">
    <div class="container">
      <h1 class="display-4">RECONECT</h1>
      <h3 class="display-6">CONECTAR, COLABORAR E TRANSFORMAR</h3>
      <p class="lead text-justify">
        A exclusão digital compromete a cidadania em nossa sociedade hiperconectada. As informações mais importantes do dia a dia estão na internet, assim como fatos, acontecimentos, comunicação e acessibilidade.
        Chegamos para facilitar o acesso à um direito humano do século XXI: O acesso à rede mundial de computadores. Nosso intuito é conectar, colaborar e transformar a vida de pessoas que têm pouco ou nenhum acesso a internet. Para isto oferecemos doações e vendas de equipamentos a baixo custo de mercado, além de cursos que capacitarão esses novos usuários.
      </p>
    </div>
  </div>
  <!-- /Jumbotron -->

  <!-- Como fazemos -->
  <div class="container" id="comoFazemos">
    <div class="row mb-5">
      <div></div>
    </div>
    <div class="row d-flex justify-content-center pt-4 mb-5">
      <h2>Como fazemos</h2>
    </div>
    <div class="row d-flex justify-content-between align-items-center">
      <div class="col-md-5 d-flex flex-column ">
        <div>
          <h3>Colaborador</h3>
          <p class='text-justify'>
            O usuário tem como papel doar, consertar e/ou vender,a baixo custo de mercado, computadores, notebooks, tablets, celulares, entre outros equipamentos.
            Além disso,  tem por objetivo fornecer uma ampliação de serviços de internet para áreas remotas e marginalizadas pelo poder público, bem como oferecer cursos capacitantes e de letramento digital.
          </p>
        </div>
        <div class='mt-3'>
          <h3>Beneficiado</h3>
          <p class='text-justify'>
            Esse tipo de usuário é destinado para pessoas que não possuem condições financeiras para comprar um equipamento para estudar, assistir a aulas on-line e que precisam se capacitar para o mercado de trabalho.
            É necessário cadastrar-se para receber os serviços oferecidos pelo colaborador. Para lideranças que desejem levar essa transformação para sua comunidade, é só entrar em contato conosco para ficarem responsáveis por conectar pessoas que ainda não possuem
          </p>
        </div>
      </div>
      <div class="col-md-5"><img src="https://i.imgur.com/ZIf9i9L.jpg" alt="Imagem de dois homens apertando as mãos numa mesa de escritório, aparentemente fechando algum negócio." class='img-cf'></div>
    </div>
  </div>
  <!-- /Como fazemos -->

  <!-- Cursos -->
  <div class="container" id="cursos">
    <div class="row mb-5">
      <div></div>
    </div>
    <div class="row d-flex justify-content-center pt-4 mb-5">
      <h2>Cursos</h2>
    </div>

    <div class="row d-flex justify-content-around flex-wrap">

      <div class="card mb-5" style="width: 18rem;">
        <img src="https://i.imgur.com/K5fK3Pe.jpg" class="card-img-top" alt="Logo da Generation Brasil">
        <div class="card-body bg-cc">
          <h5 class="card-title">Generation Brasil</h5>
          <p class="card-text text-justify">A Generation Brasil treina você nas habilidades mais relevantes para os empregadores, conectando você com o seu futuro.</p>
          <div class="text-center">
            <a href="https://brazil.generation.org/" target="_blank" class="btn btn-cc">Acesse o site</a>
          </div>
        </div>
      </div>

      <div class="card mb-5" style="width: 18rem;">
        <img src="https://i.imgur.com/aUaZWcK.png" class="card-img-top" alt="Logo da Recode">
        <div class="card-body bg-cc">
          <h5 class="card-title">Recode</h5>
          <p class="card-text text-justify">Metodologia diferenciada para conectar jovens e adultos às novas possibilidades de estudo, trabalho, empreendedorismo e cidadania.</p>
          <div class="text-center">
            <a href="https://recode.org.br/" target="_blank" class="btn btn-cc">Acesse o site</a>
          </div>
        </div>
      </div>

      <div class="card mb-5" style="width: 18rem;">
        <img src="https://i.imgur.com/zscurZy.jpg" class="card-img-top" alt="Logo da Fundação Bradesco">
        <div class="card-body bg-cc">
          <h5 class="card-title">Fundação Bradesco</h5>
          <p class="card-text text-justify">Construa seu futuro com os cursos gratuitos da Fundação Bradesco. Um deles pode ser o caminho para você chegar ao seu objetivo.</p>
          <div class="text-center">
            <a href="https://www.ev.org.br/" target="_blank" class="btn btn-cc">Acesse o site</a>
          </div>
        </div>
      </div>

      <div class="card mb-5" style="width: 18rem;">
        <img src="https://i.imgur.com/1MIAj0N.jpg" class="card-img-top" alt="Logo da Programaria">
        <div class="card-body bg-cc">
          <h5 class="card-title">Programaria</h5>
          <p class="card-text text-justify">Empoderar mulheres através da tecnologia diminuindo o gap de gênero no mercado de trabalho. Conheça agora nosso programa.</p>
          <div class="text-center">
            <a href="https://www.programaria.org/" target="_blank" class="btn btn-cc">Acesse o site</a>
          </div>
        </div>
      </div>

      <div class="card mb-5" style="width: 18rem;">
        <img src="https://i.imgur.com/qNErrAQ.jpg" class="card-img-top" alt="Logo da Ubuntu">
        <div class="card-body bg-cc">
          <h5 class="card-title">Ubuntu Last Hub</h5>
          <p class="card-text text-justify">Capacitar o maior número de pessoas potentes da periferia, para que estas tenham a oportunidade iguais às vagas de trabalho.</p>
          <div class="text-center">
            <a href="https://www.ubuntulasthub.org/" target="_blank" class="btn btn-cc">Acesse o site</a>
          </div>
        </div>
      </div>

      <div class="card mb-5" style="width: 18rem;">
        <img src="https://i.imgur.com/TfJn1l8.jpg" class="card-img-top" alt="Logo da JA Pernambuco">
        <div class="card-body bg-cc">
          <h5 class="card-title">JA Pernambuco</h5>
          <p class="card-text text-justify">Somos uma das maiores organizações sociais incentivadoras de jovens do mundo.</p>
          <div class="text-center">
            <a href="https://www.jabrasil.org.br/pe" target="_blank" class="btn btn-cc">Acesse o site</a>
          </div>
        </div>
      </div>

    </div>
  </div>
  <!-- Cursos -->

  <!-- Equipe -->
  <section id="team">
    <div class="container" id="equipe">
      <div class="row mb-5">
        <div></div>
      </div>

      <div class="row d-flex justify-content-center pt-4">
        <h2>Equipe</h2>
      </div>

      <div class="row d-flex justify-content-around flex-wrap text-center">

            <div class="card-team">
              <div class="card cardAl">
                <div class="card-body">
                  <img src="https://avatars.githubusercontent.com/u/85349942?v=4" alt="Foto do desenvolvedor Ályson Campos" class="img-fluid rounded-circle w-50 mb-3">
                  <h3>Ályson Campos</h3>

                  <div class="d-flex flex-row justify-content-center">
                    <div class="p-4">
                      <a href="https://github.com/alysoncampos" target="_blank">
                        <i class="fa fa-github" aria-hidden="true"></i>
                      </a>
                    </div>

                    <div class="p-4">
                      <a href="https://www.linkedin.com/in/alysonbscampos/" target="_blank">
                        <i class="fa fa-linkedin"></i>
                      </a>
                    </div>

                </div>

                </div>
              </div>
            </div>

            <div class="card-team">
              <div class="card cardBru">
                <div class="card-body">
                  <img src="https://avatars.githubusercontent.com/u/90732629?s=400&u=9c138b25425e503af4c68805ef8e5ef6d32b3196&v=4" alt="Foto da desenvolvedora Bruna Guimarães" class="img-fluid rounded-circle w-50 mb-3">
                  <h3>Bruna Guimarães</h3>
                  <div class="d-flex flex-row justify-content-center">
                    <div class="p-4">
                      <a href="https://github.com/Brunaguimaraesb" target="_blank">
                        <i class="fa fa-github" aria-hidden="true"></i>
                      </a>
                    </div>

                    <div class="p-4">
                      <a href="https://www.linkedin.com/in/brunaguimaraesb/" target="_blank">
                        <i class="fa fa-linkedin"></i>
                      </a>
                    </div>

                  </div>
                </div>
              </div>
            </div>

            <div class="card-team">
              <div class="card cardMat">
                <div class="card-body">
                  <img src="https://avatars.githubusercontent.com/u/82422789?s=400&u=ed98c089ff2734b88a2be2f41245d9bf0f128788&v=4" alt="Foto do desenvolvedor Matheus Amâncio" class="img-fluid rounded-circle w-50 mb-3">
                  <h3>Matheus Amâncio</h3>
                  <div class="d-flex flex-row justify-content-center">

                    <div class="p-4">
                      <a href="https://github.com/amanncio" target="_blank">
                        <i class="fa fa-github" aria-hidden="true"></i>
                      </a>
                    </div>

                    <div class="p-4">
                      <a href="https://www.linkedin.com/in/matheus-am%C3%A2ncio-746b6920b/" target="_blank">
                        <i class="fa fa-linkedin"></i>
                      </a>
                    </div>

                  </div>
                </div>
              </div>
            </div>

            <div class="card-team">
              <div class="card cardRen">
                <div class="card-body">
                  <img src="https://avatars.githubusercontent.com/u/64814287?v=4" alt="Foto do desenvolvedor Renan Vasconcelos" class="img-fluid rounded-circle w-50 mb-3">
                  <h3>Renan Vasconcelos</h3>
                  <div class="d-flex flex-row justify-content-center">

                    <div class="p-4">
                      <a href="https://github.com/RenanUmV" target="_blank">
                        <i class="fa fa-github" aria-hidden="true"></i>
                      </a>
                    </div>

                    <div class="p-4">
                      <a href="https://www.linkedin.com/in/renan-vasconcelos-193a45140/" target="_blank">
                        <i class="fa fa-linkedin"></i>
                      </a>
                    </div>

                  </div>
                </div>
              </div>
            </div>

            <div class="card-team">
              <div class="card cardSyl">
                <div class="card-body">
                  <img src="https://avatars.githubusercontent.com/u/91259960?v=4" alt="Foto da desenvolvedora Sylvia Monteiro" class="img-fluid rounded-circle w-50 mb-3">
                  <h3>Sylvia Monteiro</h3>
                  <div class="d-flex flex-row justify-content-center">

                    <div class="p-4">
                      <a href="https://github.com/sylviamonteiro" target="_blank">
                        <i class="fa fa-github" aria-hidden="true"></i>
                      </a>
                    </div>

                    <div class="p-4">
                      <a href="https://www.linkedin.com/in/sylviamonteirodemoraes/" target="_blank">
                        <i class="fa fa-linkedin"></i>
                      </a>
                    </div>

                  </div>
                </div>
              </div>
            </div>
      </div>
    </div>
  </section>
  <!-- /Equipe -->
  <div class="row mb-5">
    <div></div>
  </div>
  <div class="row mb-5">
    <div></div>
  </div>

</div>
