<div class="header">
  <!-- Topo -->
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 d-flex justify-content-center">
        <img src="https://i.imgur.com/otZdjHh.png" alt="" width="400">
        <img src="https://i.imgur.com/cZrfYjB.png" alt="" width="400">>
        <img src="https://i.imgur.com/SEDOwOd.png" alt="" width="400">>
      </div>
    </div>
  </div>
  <!-- Topo -->

  <!-- Jumbotron -->
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">RECONECT</h1>
      <h4 class="display-6">RECIFE + CONEXÃO + TECNOLOGIA</h4>
      <p class="lead mt-4">
        O problema da exclusão digital compromete a cidadania em nossa sociedade hiperconectada. As informações mais importantes para o dia a dia estão na internet: conhecimentos, acontecimentos, acesso a espaços e até mesmo assegurar outros direitos. 
      </p>
      <p class="lead">
        Chegamos para subsidiar um direito humano do século XXI: O acesso à rede mundial de computadores. Nosso intuito é colaborar, conectar e transformar a vida de pessoas que têm pouco ou nenhum acesso a internet. 
      </p>
    </div>
  </div>
  <!-- /Jumbotron -->

<!-- Colaborador e favorecido -->
<div class="container ">
    <div class="row">
      <div class="row mt-5 mb-5 d-flex justify-content-between">
        <div class="col-md-5">
          <h3>Texto teste</h3>
          <p class='text-justify'>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit.
            Voluptatibus explicabo voluptate iste atque commodi eius aliquid
            illo dicta delectus eligendi repellendus nostrum vero nisi ex
            pariatur, id ratione magni! Ratione!
          </p>
          <p class='text-justify'>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. In,
            officiis doloremque deleniti similique atque quaerat, optio tempora,
            quisquam consequuntur necessitatibus corrupti! Nesciunt et obcaecati
            vero enim exercitationem voluptatem neque consequuntur.
          </p>
          <p class='text-justify'>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit.
            Repellendus ab esse voluptatem tempora delectus a quis nobis
            reiciendis corporis debitis molestias repudiandae quo, sed quam,
            totam alias ipsam. Eum, doloremque!
          </p>
        </div>
        <div class="col-md-6"><img src="https://i.imgur.com/xrJ9G3N.jpg" alt="" class='card-texto'></div>
      </div>
    </div>

    <div class="row">
      <div class="row mt-5 mb-5 d-flex justify-content-between">
        <div class="col-md-6"><img src="https://i.imgur.com/xrJ9G3N.jpg" alt="" class='card-texto'></div>
        <div class="col-md-5">
          <h3>Texto teste</h3>
          <p  class='text-justify'>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit.
            Voluptatibus explicabo voluptate iste atque commodi eius aliquid
            illo dicta delectus eligendi repellendus nostrum vero nisi ex
            pariatur, id ratione magni! Ratione!
          </p>
          <p  class='text-justify'>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. In,
            officiis doloremque deleniti similique atque quaerat, optio tempora,
            quisquam consequuntur necessitatibus corrupti! Nesciunt et obcaecati
            vero enim exercitationem voluptatem neque consequuntur.
          </p>
          <p  class='text-justify'>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit.
            Repellendus ab esse voluptatem tempora delectus a quis nobis
            reiciendis corporis debitis molestias repudiandae quo, sed quam,
            totam alias ipsam. Eum, doloremque!
          </p>
        </div>
      </div>
    </div>
  </div>
<!-- /Colaborador e favorecido -->

  <!-- Equipe -->
  <div class="container">
    <div class="row">
        <div class=" col-md-12 d-flex justify-content-center mb-5">
            <h4 class="text-center">Equipe</h4>
        </div>
    </div>
    <div class="row">
      <div class="col-md-12 d-flex">                 
        <div class="card mx-2" style="width: 18rem; ">
            <img src="https://avatars.githubusercontent.com/u/85349942?v=4" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
          <div class="card mx-2" style="width: 18rem;">
            <img src="https://avatars.githubusercontent.com/u/90732629?s=400&u=9c138b25425e503af4c68805ef8e5ef6d32b3196&v=4" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
          <div class="card mx-2" style="width: 18rem;">
            <img src="https://media-exp1.licdn.com/dms/image/C4E03AQFnhECE4LPBzg/profile-displayphoto-shrink_200_200/0/1618615086197?e=1643846400&v=beta&t=I_Mig7MdmU0KESmonhNkGKxPUGAAUO25a4mpO9hKQ-g" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
          <div class="card mx-2" style="width: 18rem;">
            <img src="https://avatars.githubusercontent.com/u/64814287?v=4" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
          <div class="card mx-2 " style="width: 18rem;">
            <img src="https://avatars.githubusercontent.com/u/91259960?v=4" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
        </div>        
      </div>    
    </div>
  <!-- /Equipe -->

</div>
